In [1]:
import pandas as pd

In [66]:
df = pd.read_excel('olx_2(4).xlsx')

In [67]:
df.columns

Index(['web-scraper-order', 'web-scraper-start-url', 'linklar', 'linklar-href',
       'information', 'description', 'cost'],
      dtype='object')

In [73]:
df[['Xonalar', 'Umumiy maydoni', 'Yashash maydoni',
       'Oshxona maydoni', 'Etaj', 'Max etaj', 'Qurilish turi', 'Rejasi',
       'Sanuzel', 'Mebel', 'Remont', 'Internet', 'Telefon', 'Televizor',
       'Muzlatgich', 'Konditsioner', 'Kabelli TV', 'Kir mashina', 'Oshxona',
       'Shifoxona', 'Poliklinika', 'Bolalar maydonchasi', 'Bolalar bogchasi',
       'Bekat', 'Park', 'Kongilochar joy', 'Yashil maydon', 'Restoran', 'Kafe',
       'Avtoturargoh', 'Bozor', 'Supermarket', 'Dukon', 'Maktab', 'Metro']]  = ''

In [156]:
df1 = df.copy()

In [157]:
import re

In [158]:
df1['information'][0]

'BiznesXonalar soni: 3 Umumiy maydon: 90 m²Qavati: 6 Uy qavatliligi: 8 Qurilish turi: GʻishtliRejasi: Alohida ajratilganQurilgan yili: 2016Sanuzel: 2 va undan koʻp sanuzelMebelli: HaShiftining balandligi: 3.30Kvartirada bor: Internet, Telefon, Muzlatkich, Televizor, Konditsioner, Kabelli TV, Kir yuvish mashinasi, Oshxona, BalkonYaqinida joylashgan: Kasalxona, poliklinika, Bolalar maydonchasi, Bolalar bogʻchasi, Bekatlar, Park, yashil zona, Koʻngilochar muassasalar, Restoran, kafelar, turargoh, Supermarket, doʻkonlar, MaktabTaʼmiri: Mualliflik loyihasiVositachilik haqqi: Bor'

In [159]:
text = df1['information'].map(lambda x: str(x))
df1['Internet'] = text.map(lambda x: 1 if ("Internet" or "internet") in x else 0)

In [160]:
text = df1['information'].map(lambda x: str(x))
df1['Telefon'] = text.map(lambda x: 1 if ("Telefon" or "telefon") in x else 0)

In [161]:
text = df1['information'].map(lambda x: str(x))
df1['Televizor'] = text.map(lambda x: 1 if ("Televizor" or "televizor") in x else 0)

In [162]:
text = df1['information'].map(lambda x: str(x))
df1['Muzlatgich'] = text.map(lambda x: 1 if ("Muzlatgich" or "Muzlatgich") in x else 0)

In [163]:
text = df1['information'].map(lambda x: str(x))
df1['Konditsioner'] = text.map(lambda x: 1 if ("Konditsioner" or "Konditsioner") in x else 0)

In [164]:
text = df1['information'].map(lambda x: str(x))
df1['Kabelli TV'] = text.map(lambda x: 1 if ('Kabelli TV' or 'kabelli TV') in x else 0)

In [165]:
text = df1['information'].map(lambda x: str(x))
df1['Kir mashina'] = text.map(lambda x: 1 if ('Kir mashina' or 'kir mashina') in x else 0)

In [166]:
text = df1['information'].map(lambda x: str(x))
df1['Oshxona'] = text.map(lambda x: 1 if ('Oshxona' or 'oshxona') in x else 0)

In [167]:
text = df1['information'].map(lambda x: str(x))
df1['Shifoxona'] = text.map(lambda x: 1 if ('Shifoxona' or 'shifoxona') in x else 0)

In [168]:
text = df1['information'].map(lambda x: str(x))
df1['Poliklinika'] = text.map(lambda x: 1 if ('Poliklinika' or 'poliklinika') in x else 0)

In [169]:
text = df1['information'].map(lambda x: str(x))
df1['Bolalar maydonchasi'] = text.map(lambda x: 1 if ('Bolalar maydonchasi' or 'bolalar maydonchasi') in x else 0)

In [170]:
text = df1['information'].map(lambda x: str(x))
df1['Bekat'] = text.map(lambda x: 1 if ('Bekat' or 'bekat') in x else 0)

In [171]:
text = df1['information'].map(lambda x: str(x))
df1['Park'] = text.map(lambda x: 1 if ('Park' or 'park') in x else 0)

In [172]:
text = df1['information'].map(lambda x: str(x))
df1['Restoran'] = text.map(lambda x: 1 if ('Restoran' or 'restoran') in x else 0)

In [173]:
text = df1['information'].map(lambda x: str(x))
df1['Kafe'] = text.map(lambda x: 1 if ('Kafe' or 'kafe') in x else 0)

In [174]:
text = df1['information'].map(lambda x: str(x))
df1['Yashil maydon'] = text.map(lambda x: 1 if ('Yashil maydon' or 'yashil maydon') in x else 0)

In [175]:
text = df1['information'].map(lambda x: str(x))
df1['Bozor'] = text.map(lambda x: 1 if ('Bozor' or 'bozor') in x else 0)

In [176]:
text = df1['information'].map(lambda x: str(x))
df1['Supermarket'] = text.map(lambda x: 1 if ('Supermarket' or 'supermarket') in x else 0)

In [177]:
text = df1['information'].map(lambda x: str(x))
df1['Avtoturargoh'] = text.map(lambda x: 1 if ('Avtoturargoh' or 'avtoturargoh') in x else 0)

In [178]:
text = df1['information'].map(lambda x: str(x))
df1['Maktab'] = text.map(lambda x: 1 if ('Maktab' or 'maktab') in x else 0)

In [179]:
text = df1['information'].map(lambda x: str(x))
df1['Metro'] = text.map(lambda x: 1 if ('Metro' or 'metro') in x else 0)

In [180]:
text = df1['information'].map(lambda x: str(x))
df1['Dukon'] = text.map(lambda x: 1 if ('Dukon' or 'dukon' or 'doʻkonlar' or 'doʻkon' or 'Doʻkon' or 'Doʻkonlar' or 'dokon') in x else 0)

In [181]:
text = df1['information'].map(lambda x: str(x))
df1['Bolalar bogchasi'] = text.map(lambda x: 1 if ('Bolalar bogchasi' or 'Bolalar bogʻchasi') in x else 0)

In [182]:
text = df1['information'].map(lambda x: str(x))
df1['Kongilochar joy'] = text.map(lambda x: 1 if ('Koʻngilochar joy' or 'Kongilochar joy' or 'koʻngilochar joy' or 'kongilochar joy') in x else 0)

In [191]:
df2 = df1.copy()

In [212]:
df2["Xonalar"] = df2["information"].astype(str).map(lambda x: re.search(r"Xonalar soni: (\d+)", x))
df2["Xonalar"] = df2["Xonalar"].apply(lambda x: x.group(1) if x else None)

In [268]:
df2["Turar joyi"] = df2["information"].astype(str).map(lambda x: re.search(r"Turarjoy turi: (.*?)Xonalar", x))
df2["Turar joyi"] = df2["Turar joyi"].apply(lambda x: x.group(1) if x else None)

In [217]:
df2["Umumiy maydoni"] = df2["information"].astype(str).map(lambda x: re.search(r"(Umumiy maydon:) (\d+)", x))
df2["Umumiy maydoni"] = df2["Umumiy maydoni"].apply(lambda x: x.group(2) if x else None)

In [235]:
df2["Etaj"] = df2["information"].astype(str).map(lambda x: re.search(r"Qavati: (\d+)", x))
df2["Etaj"] = df2["Etaj"].apply(lambda x: x.group(1) if x else None)

In [238]:
df2["Max etaj"] = df2["information"].astype(str).map(lambda x: re.search(r"Uy qavatliligi: (\d+)", x))
df2["Max etaj"] = df2["Max etaj"].apply(lambda x: x.group(1) if x else None)

In [244]:
df2["Sanuzel"] = df2["information"].astype(str).map(lambda x: re.search(r"Sanuzel: (\d+)", x))
df2["Sanuzel"] = df2["Sanuzel"].apply(lambda x: x.group(1) if x else None)

In [250]:
df2["Yashash maydoni"] = df2["information"].astype(str).map(lambda x: re.search(r"Yashash maydoni: (\d+)", x))
df2["Yashash maydoni"] = df2["Yashash maydoni"].apply(lambda x: x.group(1) if x else None)

In [253]:
df2["Oshxona maydoni"] = df2["information"].astype(str).map(lambda x: re.search(r"Oshxona maydoni: (\d+)", x))
df2["Oshxona maydoni"] = df2["Oshxona maydoni"].apply(lambda x: x.group(1) if x else None)

In [256]:
df2["Mebel"] = df2["information"].astype(str).map(lambda x: re.search(r"Mebelli: ([A-Z][a-z]*)", x))
df2["Mebel"] = df2["Mebel"].apply(lambda x: x.group(1) if x else None)

In [259]:
df2["Rejasi"] = df2["information"].astype(str).map(lambda x: re.search(r"Rejasi: ([A-Z][a-z]+ [a-z]+)(?=[A-Z])", x))
df2["Rejasi"] = df2["Rejasi"].apply(lambda x: x.group(1) if x else None)

In [273]:
df2["Qurilish turi"] = df2["information"].astype(str).map(lambda x: re.search(r"Qurilish turi: ([A-Z][a-z]*)", x))
df2["Qurilish turi"] = df2["Qurilish turi"].apply(lambda x: x.group(1) if x else None)

In [262]:
df2["Rejasi"].value_counts()

Alohida ajratilgan    582
Name: Rejasi, dtype: int64

In [280]:
df2.drop(['Xususiy biznes', 'Remont'], axis =1, inplace = True)

In [283]:
df2.to_csv('olx.csv')

In [1]:
import pandas as pd 
import json
import re

In [121]:
df = pd.read_csv('uybor_uz.csv')

In [122]:
df.drop(['web-scraper-order', 'web-scraper-start-url', 'linklar-href'], axis = 1, inplace = True)

In [123]:
df[['Xonalar','Xonalarga ajratilmagan',  'Qavat', 'Jami qavatlar', 'Maydoni', 'Yashash maydoni', 'м² uchun narxi', 'Holati',
   'Bino asosi', ]] = ''

In [124]:
for i in range(len(df['infomation'])):
    dict_list = json.loads(df['infomation'][i])
    result = [d['infomation'].split(':')[0] for d in dict_list]
    df['infomation'][i] = result

In [125]:
print(df['infomation'][25])

['Xonalar', '3', 'Xonalarga ajratilmagan', 'Yoʻq', 'Qavat', '8', 'Jami qavatlar', '9', 'Maydoni', '75 m²', 'Holati', 'Oʻrtacha', 'Narxi', '88 000 sh.b.', 'м² uchun narxi', '1 173.33 sh.b. / m²']

In [126]:
df["Xonalar"] = df["infomation"].astype(str).map(lambda x: re.search(r"'Xonalar', '(\d+)'", x))
df["Xonalar"] = df["Xonalar"].apply(lambda x: x.group(1) if x else None)

In [127]:
df["Qavat"] = df["infomation"].astype(str).map(lambda x: re.search(r"'Qavat', '(\d+)'", x))
df["Qavat"] = df["Qavat"].apply(lambda x: x.group(1) if x else None)

In [128]:
df["Jami qavatlar"] = df["infomation"].astype(str).map(lambda x: re.search(r"'Jami qavatlar', '(\d+)'", x))
df["Jami qavatlar"] = df["Jami qavatlar"].apply(lambda x: x.group(1) if x else None)

In [129]:
df["Maydoni"] = df["infomation"].astype(str).map(lambda x: re.search(r"'Maydoni', '(\d+) m²'", x))
df["Maydoni"] = df["Maydoni"].apply(lambda x: x.group(1) if x else None)

In [130]:
df["Yashash maydoni"] = df["infomation"].astype(str).map(lambda x: re.search(r"'Yashash maydoni', '(\d+) m²'", x))
df["Yashash maydoni"] = df["Yashash maydoni"].apply(lambda x: x.group(1) if x else None)

In [131]:
df["м² uchun narxi"] = df["infomation"].astype(str).map(lambda x: re.search(r"'(\d+ \d+\.\d+)\s+sh.b.\s+/\s+m²'|'(\d+\d+\.\d+)\s+sh.b.\s+/\s+m²'", x))
df["м² uchun narxi"] = df["м² uchun narxi"].apply(lambda x: x.group(2 if x.group(2) else 1) if x else None)

In [132]:
df["Bino asosi"] = df["infomation"].astype(str).map(lambda x: re.search(r"'Bino asosi', '(\w+)'", x))
df["Bino asosi"] = df["Bino asosi"].apply(lambda x: x.group(1) if x else None)

In [133]:
df["Holati"] = df["infomation"].astype(str).map(lambda x: re.search(r"'Holati', '(\w+ \w+)'|'Holati', '(\w+)'", x))
df["Holati"] = df["Holati"].apply(lambda x: x.group(2 if x.group(2) else 1) if x else None)

In [134]:
sum(df["Holati"].isnull())

307

In [135]:
text = df['infomation'].map(lambda x: str(x))
df['Xonalarga ajratilmagan'] = text.map(lambda x: 0 if ('Yoʻq' or 'yoʻq' or 'Yoq') in x else 1)

In [136]:
df.columns

Index(['linklar', 'infomation', 'qulaylik', 'joylashuv', 'sana', 'narxi',
       'Xonalar', 'Xonalarga ajratilmagan', 'Qavat', 'Jami qavatlar',
       'Maydoni', 'Yashash maydoni', 'м² uchun narxi', 'Holati', 'Bino asosi'],
      dtype='object')

In [139]:
df1 = df.copy()

In [142]:
for i in range(len(df1['qulaylik'])):
    dict_list = json.loads(df1['qulaylik'][i])
    result = [d['qulaylik'].split(':')[0] for d in dict_list]
    df1['qulaylik'][i] = result

C:\Users\Makhmud\AppData\Local\Temp\ipykernel_11688\2131414175.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['qulaylik'][i] = result

In [161]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Telefon tarmogʻi'] = text.map(lambda x: 1 if ('Telefon tarmogʻi' or 'Telefon tarmogi') in x else 0)

In [168]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Qoʻriqlash'] = text.map(lambda x: 1 if ('Qoʻriqlash' or 'Qoriqlash') in x else 0)

In [170]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Lift'] = text.map(lambda x: 1 if ('Lift' or 'lift') in x else 0)

In [172]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Yuvinish xonasi boʻlak'] = text.map(lambda x: 1 if ('Yuvinish xonasi boʻlak' or 'Yuvinish xonasi bolak') in x else 0)

In [174]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Televizor'] = text.map(lambda x: 1 if ('Televizor' or 'televizor') in x else 0)

In [176]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Internet'] = text.map(lambda x: 1 if ('Internet' or 'internet') in x else 0)

In [178]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Video kuzatuv'] = text.map(lambda x: 1 if ('Video kuzatuv' or 'video kuzatuv') in x else 0)

In [180]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Bolalar maydonchasi'] = text.map(lambda x: 1 if ('Bolalar maydonchasi' or 'bolalar maydonchasi') in x else 0)

In [184]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Sunʻiy yoʻldosh/kabel TV'] = text.map(lambda x: 1 if ('Sunʻiy yoʻldosh/kabel TV' or 'Suniy yoʻldosh/kabel TV' or 'Sunʻiy yoldosh/kabel TV') in x else 0)

In [186]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Suv taʻminoti'] = text.map(lambda x: 1 if ('Suv taʻminoti' or 'Suv taminoti') in x else 0)

In [188]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Kanalizatsiya'] = text.map(lambda x: 1 if ('Kanalizatsiya' or 'Kanalizatsiya') in x else 0)

In [190]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Gaz taʻminoti'] = text.map(lambda x: 1 if ('Gaz taʻminoti' or 'Gaz taminoti') in x else 0)

In [192]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Avtoturargox'] = text.map(lambda x: 1 if ('Avtoturargox' or 'Avtoturargoh') in x else 0)

In [202]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Havo muzlatgich'] = text.map(lambda x: 1 if ('Havo muzlatgich' or 'havo muzlatgich' or 'Konditsioner' or 'Kanditsioner') in x else 0)

In [212]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Muzlatgich'] = text.map(lambda x: 1 if ('Muzlatgich' or 'muzlatgich' or 'Xolodilnik' or 'Holodilnik') in x else 0)

In [214]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Mebel'] = text.map(lambda x: 1 if ('Mebel' or 'mebel') in x else 0)

In [216]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Kir yuvish mashinasi'] = text.map(lambda x: 1 if ('Kir yuvish mashinasi' or 'kir yuvish mashinasi') in x else 0)

In [218]:
text = df1['qulaylik'].map(lambda x: str(x))
df1['Mikrotoʻlqinli pech'] = text.map(lambda x: 1 if ('Mikrotoʻlqinli pech' or 'Mikrotolqinli pech') in x else 0)

In [222]:
df2 = df1.copy()

In [229]:
for i in range(len(df2['sana'])):
    dict_list = json.loads(df2['sana'][i])
    result = [d['sana'].split(':')[0] for d in dict_list]
    df2['sana'][i] = result

C:\Users\Makhmud\AppData\Local\Temp\ipykernel_11688\120165684.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['sana'][i] = result

In [238]:
print(df2['sana'][0])

['Qoʻshilgan sana', '2023-01-12 11', 'Yangilangan sana', '2023-02-01 11', 'Koʻrganlar soni', '4283']

In [236]:
df2[['Qoʻshilgan sana', 'Yangilangan sana', 'Koʻrganlar soni']]  = ''

In [ ]:
df2['Koʻrganlar soni'] = df2["sana"].astype(str).map(lambda x: re.search(r"'Koʻrganlar soni', '(\d+)'", x))
df2['Koʻrganlar soni'] = df2['Koʻrganlar soni'].apply(lambda x: x.group(1) if x else None)

In [241]:
df2['Qoʻshilgan sana'] = df2["sana"].astype(str).map(lambda x: re.search(r"'Qoʻshilgan sana', '(\d{4}-\d{2}-\d{2})", x))
df2['Qoʻshilgan sana'] = df2['Qoʻshilgan sana'].apply(lambda x: x.group(1) if x else None)

In [243]:
df2['Yangilangan sana'] = df2["sana"].astype(str).map(lambda x: re.search(r"'Yangilangan sana', '(\d{4}-\d{2}-\d{2})", x))
df2['Yangilangan sana'] = df2['Yangilangan sana'].apply(lambda x: x.group(1) if x else None)

In [245]:
df3 = df2.copy()

In [248]:
df3['joylashuv'][0]

'[{"joylashuv":"Школа"},{"joylashuv":"Средняя школа №102\xa0Средняя школа №41"},{"joylashuv":"Кинотеатр"},{"joylashuv":"Guncha"},{"joylashuv":"Детский сад"},{"joylashuv":"Детский сад №140 \\"Мехригиё гунчалари\\"\xa0Детский сад №445 \\"Болалигим-подшолигим\\""}]'

In [249]:
for i in range(len(df3['joylashuv'])):
    dict_list = json.loads(df3['joylashuv'][i])
    result = [d['joylashuv'].split(':')[0] for d in dict_list]
    df3['joylashuv'][i] = result

C:\Users\Makhmud\AppData\Local\Temp\ipykernel_11688\2554252799.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['joylashuv'][i] = result

In [251]:
df3['joylashuv'][0]

['Школа',
 'Средняя школа №102\xa0Средняя школа №41',
 'Кинотеатр',
 'Guncha',
 'Детский сад',
 'Детский сад №140 "Мехригиё гунчалари"\xa0Детский сад №445 "Болалигим-подшолигим"']

In [253]:
df3.to_csv('total_uybor.csv')

In [255]:
df3.drop(['infomation', 'qulaylik', 'sana'], axis = 1, inplace = True)

In [257]:
df3.to_csv('finall_uybor_uz.csv')

In [258]:
len(df3)

4284

In [259]:
df = pd.read_excel('food for ai.xlsx')

In [267]:
df['description 2021'][55]

'00668 Оплата по договору № № 1/2255-2020 от 22.12.2020 оплата за сертификация баков расширительных-10 ед , клапанов -25 ед'

In [263]:
len(df)

764361